.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 430px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

h1.low {
  color: red;
}

h1.high {
  color: green;
}

.button-group button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

button {
  font-size: 18px;
  background-color: #0b07ef;
  border: 1px solid #ccc;
  color: #f3f3f3;
}
button:disabled {
  background-color: #c65b19;
  cursor: not-allowed;
}

.feedback {
  font-size: 1.3rem;
  color: #333;
  margin-top: 10px;
}

.progress-bar {
  display: flex;
  justify-items: center;
  width: 90%;
  height: 30px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}
